<div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">SyncByte</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/checkin" class="btn btn-info">Checkin Employee</a>
                </li>
            <li class="list-inline-item">
              <a routerLink="/register" class="btn btn-info">Register Employee</a>
                </li>
                <h2 class="card-title text-center text-white py-3" *ngIf="registered"
                >Registered Successfully</h2>
                <div class="text-white">click on check-in for check-in</div>
                
          </ul>
          
        </div>
      </div>
    
    </div>
  </div>
