<h2>Update Your Details</h2>
<br>
<div class="card my-2" >
    <div class="card-body">
      <form #userForm="ngForm">
        <div class="form-group">
            <label for="employeecode">Employee Code</label>
            <input type="text" [(ngModel)]="updateEmployee.employeecode" 
              class="form-control"
              id="employeecode"
              name="employeecode"
              placeholder="employeecode"
              required #employeecode="ngModel">
          </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" [(ngModel)]="updateEmployee.name" 
            class="form-control"
            id="name"
            name="name"
            placeholder="Enter your name"
            required #name="ngModel">
        </div>
        
        <div class="form-group">
          <label for="dob">Date Of Birth</label>
          <input type="date" [(ngModel)]="updateEmployee.dob" 
            class="form-control"
            id="dob"
            name="dob"
            placeholder="Enter your date of birth"
            required #email="ngModel">
          
        </div>
      
        <div class="form-group">
          <label for="password">Date Of Birth</label>
          <input type="text" [(ngModel)]="updateEmployee.password" 
            class="form-control"
            id="password"
            name="password"
            placeholder="Enter your password"
            required #password="ngModel">
          
        </div>
              <div>
        <button   name="fingerprint" (click)="setFingerPrint()"
         class="btn btn-success" >Fingerprint</button>
        </div>
        <br>
        <button type="submit" [disabled]="!userForm.form.valid" 
          class="btn btn-info" (click)="onUpdate()">Update</button>
      </form>
    </div>
  </div>